@font-face {
  font-family: "Pretendard";
  font-weight: 700;
  src: url("./font/Pretendard-Bold.woff") format("woff");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 800;
  src: url("./font/Pretendard-ExtraBold.woff") format("woff");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 500;
  src: url("./font/Pretendard-Medium.woff") format("woff");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 400;
  src: url("./font/Pretendard-Regular.woff") format("woff");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 600;
  src: url("./font/Pretendard-SemiBold.woff") format("woff");
}

body {
  font-family: "Pretendard";
  background-color: black;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Pretendard";
}

html {
  transition: filter 0.5s ease, background-color 0.5s ease;
}

html.invert-mode {
  filter: invert(100%) hue-rotate(180deg);
}
